#waybar {
	background-color: rgba(0,0,0,0.85);
	color:  #ffffff;
}

#workspaces button label {
	color: #ffffff;
}

#workspaces button.focused {
	background: #757575;
}

*{
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, SymbolsNerdFont-Mono;
 	font-size: 16;
}

